
footer {
    position: relative;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-gap: 20px;
    max-width: 800px;
    padding: 10px;
}

.video {
    margin-left: 115px;
}

.sidebar {
    margin-left: 30px;
}

.sidebar > div {
    margin-bottom: 10px;
}

.sidebar img {
    max-width:180px;
    max-height:120px;
    width: auto;
    height: auto;
}

.sidebar p {
    font-size: 12px;
    font-family: Arial;
}

